/* Hero sekcija */
.hero {
  background-image: url("/premium_photo-1720287601920-ee8c503af775.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  padding-left: 26px;
  overflow-x: hidden;
}

.hero h1 {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  animation: blinkAnimation 10s infinite ease;
}

@keyframes blinkAnimation {
  0% {
    color: #fff;
  }
  50% {
    color: #333;
  }
  100% {
    color: #fff;
  }
}